
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

body {
	padding: 0 40px;
}

body, input, textarea {
	font: 15px 'MerriweatherRegular', serif;
	font-weight: normal;
	line-height: 27px;
	background: #2e2e2e;
	color: #6b6b6b;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

/* Headings */
h1 {
	font-family: 'MarketDecoRegular';
	font-weight: normal;
	color: #ca6d6d;
}
h1 a { 
	color: inherit; 
}
h1 { 
	font-size: 32px; 
	line-height: 34px; 
	margin-bottom: 14px;
}
h2 {
	font-weight: normal;
	color: #ca6d6d;
}
h2 a { 
	color: inherit; 
}
h2 { 
	font-size: 32px; 
	line-height: 34px; 
	margin-bottom: 14px;
}
h3 {
	font-weight: normal;
	color: #ca6d6d;
}
h3 a { 
	color: inherit; 
}
h3 { 
	font-size: 20px; 
	line-height: 34px; 
	margin-bottom: 14px;
}
h4 {
	text-align: center;
	font-weight: normal;
	color: #ca6d6d;
}
h4 a { 
	color: inherit; 
}
h4 { 
	font-size: 26px; 
	line-height: 34px; 
	margin-bottom: 14px;
}
h5 {
	text-align: center;
}



/* Links */
a {
	color: #ca6d6d;
	text-decoration: none;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
a:hover {
	text-decoration: none;
	color: #585858;
}

/* Button */
a.button,
input#submit,
.forms fieldset .btn-submit  {
	background: #555;
	height: 28px;
	display: inline-block;
	padding: 0 17px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #383838;
	color: #fff;
	cursor: pointer;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	font-size: 12px;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}


.map.full {
	margin: 0 -40px;
}



/*-----------------------------------------------------------------------------------*/
/*	STRUCTURE
/*-----------------------------------------------------------------------------------*/

#branding #site-title {
	margin: 0 39px 39px 39px;
}

#primary {
	width: 100%;
}

#page {
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
	max-width: 1040px;
	margin: 50px auto;
}

#wrapper {
	background: #FFF;
	border: 1px solid #f8f8f8;
	-moz-box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.15);
}

#content {
	margin: 0 39px;
	width: auto;
}

#main {
	clear: both;
	padding: 8px 0 0 0;
}

/* Header */

#site-title {
	padding: 39px 0 0;
}



/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/
.triangle-l {
	border-color: transparent #793e3e transparent transparent;
	border-style:solid;
	border-width:8px;
	height:0px;
	width:0px;
	position: relative;
	left: -17px;
	top: -8px;
	z-index: -1; /* displayed under bubble */
}

.triangle-r {
	border-color: transparent transparent transparent #793e3e;
	border-style:solid;
	border-width:8px;
	height:0px;
	width:0px;
	position: relative;
	left: 1039px;
	top: -23px;
	z-index: -1; /* displayed under bubble */
}

#access .menu {
	list-style: none;
	font-weight: normal;
	position: relative;
	font-family: 'MarketDecoRegular';	
}
#access .menu ul {
	margin: 0;
	list-style-type: none;
	letter-spacing: normal;
	position: relative;
	text-align: center;
	z-index: 1001;
	height: 42px;
	margin: 0 -9px;
	background: #b05a5a;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
#access .menu ul li {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	z-index: 101;
	padding-top: 8px;
	background: none;
	height: 34px;
}
#access .menu ul li a {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #f3f3f3;
	-webkit-transition:all 100ms ease-in;
	-o-transition:all 100ms ease-in;
	-moz-transition:all 100ms ease-in;
}
#access .menu ul li a:hover, 
#access .menu ul li.active a, 
#access .menu ul li a.selected {
	color: #3c3c3c;
}
#access .menu ul li ul {
	position: absolute;
	left: 0;
	height: auto;
	display: none;
	visibility: hidden;
	width: 130px;
	padding: 0;
	text-align: left;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
}
#access .menu ul li ul li {
	display: list-item;
	float: none;
	background: none;
	padding: 0;
	height: auto;
	border-bottom: 1px solid #333;
}
#access .menu ul li ul li ul {
	top: 0;
}
#access .menu ul li ul li a {
	margin: 0;
	border: none;
	display: block;
	padding: 10px 10px;
	font-size: 12px;
	color: #f3f3f3;
	background-color: #3c3c3c;
}
#access .menu ul li ul li a:hover,
#access .menu ul li ul li.active a,
#access .menu ul li ul li a.selected {
	background-color: #333;
	color: #f3f3f3;
}


.selectnav {
	display: none;
	width: 280px;
	margin: 0 auto;
}



/*-----------------------------------------------------------------------------------*/
/*	FORMS
/*-----------------------------------------------------------------------------------*/

.form-container {
	overflow: hidden;
	background: #f4f4f4;
	padding: 25px;
	position: relative;
}
.form-container .loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
}
.form-container .loading span {
}
.form-container .response {
	display: none;
	margin: 0 0 15px 0;
	color:#4d8c74;
	clear:both;
	text-shadow: none;
	line-height: 17px;
	width: 650px;
	font-size: 14px;
}
.forms {
}
.forms fieldset {
	margin-bottom: -20px;
}
.forms ol {
	list-style: none;
}
/* form rows */
.forms li.form-row {
	margin-bottom: 15px;
}
.forms li.text-input-row {
}
.forms li.text-area-row {
}
.forms li.checkbox-row {
}
.forms li.radio-row {
}
.forms li.select-row {
}
.forms li.button-row {
}
.forms li.hidden-row {
	display: none;
}
/* form input fields */

.forms fieldset .text-input {
	background: #fff;
	border: 1px solid #dedede;
	padding: 10px;
	color: #606060;
	width: 350px;
	height: 20px;
}

.forms fieldset .text-area {
	background: #fff;
	border: 1px solid #dedede;
	color: #606060;
	width: 90%;
	height: 200px;
	padding: 10px;
}

.forms fieldset .text-input:focus, 
.forms fieldset .text-area:focus {
	border: 1px solid #c9c9c9;
}

.forms fieldset .radio {
}
.forms fieldset .checkbox {
}
.forms fieldset .select {
}

.forms li.error input, .forms li.error textarea {
	border: 1px #b85555 solid;
}
.forms fieldset .btn-submit  {
	padding: 0 20px 4px 20px;
	margin: 0;
	height: 30px;
}
.forms span.error {
	display: none;
}
.forms .button-row span.error {
	padding: 0;
	display: none;
}
.forms li.focus {
}
.forms label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	clear: both;
}
.form-container:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.select-box {	background: #fff;
	border: 1px solid #dedede;
	padding: 10px;
	color: #606060;
	width: 350px;
	height: 20px;
  cursor: pointer;
  position : relative;
}

.select,
.label {
  color: #606060;
  display: block;
  font: 400 17px/2em 'Arial', sans-serif;
}

.select {
  width: 350px;
  position: absolute;
  top: 0;
  height: 40px;
  opacity: 0;
}
.select-box1 {
  background: #fff;
}

.label {
  position: relative;
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 5px solid #fff;
}

/*-----------------------------------------------------------------------------------*/
/*	FOOTER
/*-----------------------------------------------------------------------------------*/

#colophon {
	clear: both;
	background-color: #191919;
	margin: 40px -1px -1px;
}


/* Site Generator Line */
#site-generator {
	color: #999;
	font-size: 12px;
	line-height: 2.2em;
	padding: 1.2em 0.5em;
	text-align: center;
	background-color: #131313;
}
#site-generator a {
	color: #999;
}
#site-generator a:hover {
	text-decoration: none;
	color: #fff;
}





